@import "../../../node_modules/bootstrap/scss/functions";

$primary: #0d6efd;
$enable-shadows: false;
$enable-gradients: false;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
